*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    height: 100vh;
    background: rgb(108, 187, 161);
}

.cardContainer {
    width: 480px;
    height:560px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 6px double rgb(80, 114, 177);
}

.cardElements {   
    width: calc(25% - 10px); 
    height: calc(33.333% - 10px);
    margin: 5px;    
    position: relative;      
}

.cardElements:active {
    transform: scale(.95);
    transition: transform .5s;
}
.cover-img {
    height: 100%;
    padding: 4px;    
    position: absolute;
    border-radius: 5px;
    background: rgb(192, 151, 144);
}
.flip-img {
    height: 99%;
}

